.big-heading{
  color: #1f2430;
    font-family: 'Ubuntu', sans-serif;
  font-weight: 900;
  padding-left: 50px;
}

.side-heading {
  font-family: 'Ubuntu', sans-serif;
  color: #1f2430;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 1px;
  padding-top: 10px;
  font-size: 20px;
}

.side-heading:hover {
  color:#ff9940;
}