.covid-logo {
    max-width: 20%;
    height: auto;
    margin: 5% 33%;
}
.covid-logo:hover {
  transform: rotate(360deg);
  transition: transform 0.5s ease-in-out;
}

.header-title {
  margin-top: 5%;
  margin-bottom: 4%;
}

  
#covid-logo-container {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%; 
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 768px) {
  #title-container {
    display: flex;
  }
  
  #covid-logo-container {
    margin-left: 35%;
  }
}

.img-circle {
  border-width: 0;
  border-radius: 100%;
}

.widget-user .widget-user-image > img {
    border: 0;
}
.sidebar{
  padding-bottom: 10px;
  padding-top: 40px;
}

.logo {
  height: 90px;
}