$title-font: 'Ubuntu', sans-serif;

body {
  color: #1F2430;
  font-family: 'Ubuntu', sans-serif;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    line-height: 1.1;
    color: #1f2430;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px; 
}

hr.side-hr {
  width: 92.7%;
  margin-top: 5px;
  margin-bottom: 5px; 
}


.map-container {
  position: relative;
  border-radius: 10px;
}

.side-table {
    width: 20%;
    height: 70%;
    position: absolute;
    top: 20px;
    border-radius: 10px;
    background-color: #fafafa;
}

.side-table-content-row {
  margin: auto;
  padding-left: 20px;
}

.side-table-content-country {
  padding-left: 30px;
  float: left;
}

.side-table-content-number {
  padding-left: 256px;
  text-align: center;
  position: absolute;
}

.side-subheading {
    font-size: 13px;
    left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #70757a;
}

.left-table {
  left: 10px;
}

.right-table {
  right: 10px;
}

.date-indicator {
  padding-top: 40px;
  font-weight: 600;
}

.modal-dialog{ 
  width:1400px
}

.center {
  margin: auto;
  text-align: center;
}

.btn-variable {
  color: #FAFAFA;
  border-color: #FAFAFA;
}

.btn-variable:hover {
  color: #1F2430;
  border-color: #1F2430;
  border-width: 2px;
}
  
.btn-infected {
  background-color: #FF9940;
}
.btn-deaths {
  background-color: #F07171;
}
.btn-tests {
  background-color: #5CCFE6;
}
  
.box {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
  background-color: #fafafa;
}

.small-box {
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 10px;
}


.back-button {
    background-color: #1f2430;
    color: #ccc;
    border-color: #ccc;
    border-radius: 10px;
    margin-top: 25px;
} 

.back-button:hover {
  color: #fafafa;
  font-weight: 500;
  background-color: #1f2430;
}