body {
  color: #1F2430;
  font-family: 'Ubuntu', sans-serif;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px; 
}

hr.side-hr {
  width: 92.7%;
  margin-top: 5px;
  margin-bottom: 5px; 
}


.map-container {
  position: relative;
}

.side-table {
    width: 20%;
    height: 70%;
    position: absolute;
    top: 20px;
    border-radius: 10px;
    background-color: #fafafa;
}

.side-table-content-row {
  margin: auto;
  padding-left: 20px;
}

.side-table-content-country {
  padding-left: 30px;
  float: left;
}

.side-table-content-number {
  padding-left: 256px;
  text-align: center;
  position: absolute;
}

.side-subheading {
    font-size: 13px;
    left: 10px;
    padding-bottom: 5px;
    padding-top: 10px;
    color: #70757a;
}

.left-table {
  left: 10px;
}

.right-table {
  right: 10px;
}

.date-indicator {
  padding-top: 40px;
  font-weight: 600;
}

.modal-dialog{ 
  width:1400px
  
}