body {
  color: #1F2430;
  font-family: 'Ubuntu', sans-serif;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}

#total_numbers_country1 {
  font-size: 200%;
  color: "rgb(255, 0, 0)";
}