#select_infected {
  color: #FF9940;
  font-weight: 800;
  background-color: #fafafa;
}

#select_deaths {
  color: #F07171;
  font-weight: 800;
  background-color: #fafafa;
}

#select_tests {
  color: #5CCFE6;
  font-weight: 800;
  background-color: #fafafa;
}